body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #22d3ee;
}

.subtitle {
  color: #94a3b8;
}

.menu {
  margin: 20px;
}

button {
  background: #111827;
  color: #22d3ee;
  border: 1px solid #22d3ee;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #22d3ee;
  color: #000;
}

.content-box {
  margin: 20px auto;
  padding: 15px;
  width: 300px;
  background: #020617;
  border-radius: 10px;
}
